*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    font-family: 'Nunito', sans-serif;
}

section{ 
    padding: 12% 8% 2% 8%;    
    height: calc(100vh - 60px);
    width: 100%;  
     
}

/* HEADER */

header{
    position: fixed;
    width: 100%;
    padding: 1.1% 8% 1.1% 8%;
    background-color: lightblue;       
}

/* logo */
img{
    height: 3rem;
}

/* nav */
nav{   
    height: 60px;   
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Lista de links */

li{
    list-style: none;
}
nav a{
    text-decoration: none;
    color: black;
    font-size: 1.18rem;
}
a:hover{
    color: orange;
}
nav .links{
    display: flex;
    gap: 2rem;
}

/* botón GET A QUOTE */

.actionBtn{
    background-color: rgba(59, 59, 214, 0.829);
    width: 10rem;
    height: 3rem;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 3rem;
    font-size: 1.2rem;    
    cursor: pointer;
    transition: scale 0.2 ease;
    display: flex;
    align-items: center; 
    justify-content: center;
}
.actionBtn:hover{
    scale: 1.05;
    color: #fff;
}
.actionBtn:active{
    scale: 0.95;
}

/* Hamburguesa */
nav .toggleBtn{
    color: black;    
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

/* Dropdown MENU */
.dropdownMenu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(0, 0, 255, 0.2);   
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden; 
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);   
} 
.dropdownMenu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdownMenu .actionBtn{
    width: 100%;
    display: flex;
    justify-content: center;
}
.dropdownMenu.open{
    height: 24rem;    
}
.dropdownMenu a{
    text-decoration: none;
}



/* RESPONSIVE DESIGN */
@media(max-width: 992px){
    nav .links,
    nav .actionBtn{
        display: none;
    }

    nav .toggleBtn{
        display: block;
    }

    .dropdownMenu{
        display: block;
    } 
    .section1{
        padding: 9% 8% 0 8%;
    } 
    .section1 .contenidoSection1{
        width: 100%;
    }  
    .section1 .imagenSection1 img{
        display: none;
    }
    .section2{
        display: none;
    }  
}

@media (max-width: 576px){
    .dropdownMenu{
        left: 2rem;
        width: unset;
    }
    .section1{
        padding: 14% 5% 0 5%;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .section1 .tituloSection1{
        padding: 8% 0 0 0;
        font-size: 1.5rem;                
    } 
    .section1 .parrafoSection1{ 
        padding: 8% 0 8% 0;              
        font-size: 1.5rem;        
    } 
    .section1 .divBusqueda{
        display: none;
    } 
    .section1 .cifrasSection1{
        padding: 2% 5% 0 5%;
    }
    .section1 .cifrasSection1 div{
        padding: 2% 2% 0 0;
    } 
}



/* SECTION 1 */
.section1{     
    
    margin: 0 auto;
    display: flex; 
    align-items: center;    
    justify-content: space-between; 
     
}
.contenidoSection1{ 
    width: 48%;       
}

/* Titulo - Section 1 */
.tituloSection1{
    font-size: 3.7rem;
}
.parrafoSection1{
    font-size: 1.5rem;
    width: 100%;
    color: rgb(129, 127, 127);
    line-height: 2;
}

/* Buscador */
.divBusqueda{
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10% 0 8% 0;
}
.searchBar{ 
    width: 100%;
    display: flex;
    justify-content: left;    
    cursor: pointer;    
    padding: 1% 5% 0 0;
    background: #fff;    
}
.lupita{
    padding: 0 3% 0 10%;    
    transition: scale 0.2 ease;
    display: flex;
    align-items: center; 
    justify-content: center;
    text-decoration: none; 
    font-size: 1.2rem;   
}
.lupita:hover{
    scale: 1.05;
    color: #fff;
}
.lupita:active{
    scale: 0.95;
}
.searchBar input{
    width: 35rem;
    outline: none;
    font-weight: 500;
    background: transparent;    
}
.searchBar .fas{
    color: rgb(117, 115, 115);     
} 
.inputSearch{
    font-size: 1.1rem;
    border: 0; 
}

/* Action Button 2 */
.actionBtn2{
    background-color: rgb(71, 71, 241);
    width: 14rem;
    height: 4rem;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 3rem;
    font-size: 1.5rem;    
    cursor: pointer;
    transition: scale 0.2 ease;
    display: flex;
    align-items: center; 
    justify-content: center;
    text-decoration: none;
}
.actionBtn2:hover{
    scale: 1.05;
    color: #fff;
}
.actionBtn2:active{
    scale: 0.95;
}

/* Cifras - Section 1 */
.cifrasSection1{    
    display: flex;
    align-items: center;    
    justify-content: space-between;
    padding: 5% 0 0 0; 
}
.cifrasSection1 h1{
    font-size: 3rem;
}
.cifrasSection1 p{
    font-size: 1.5rem;
    color: rgb(117, 115, 115);
}

/* Imagen - Section 1 */

.imagenSection1 img{
    height: 85vh;
    border-radius: 30px;
}

/* SECTION 2 */

/* Contenido - Section 2 */
.contenidoSection2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contenidoSection2 .h1{
    padding: 0 5% 0 0;
    width: 50%;
}
.contenidoSection2 h1{          
    font-size: 4rem;
}
.contenidoSection2 p{
    font-size: 1.5rem;
    color: rgb(117, 115, 115);
    line-height: 2;
}
.contenidoSection2 .p{
    padding: 0 0 0 5%;
    width: 50%;
}

/* Galería - Section 2 */
.galeriaSection2{
    padding: 5% 0 0 0;
}

.galeriaSection2 .galeria01{
    display: flex;
    align-items: center;
    flex-direction: column;    
}
.galeria01{
    position: relative;
    width: 25%;
}
.galeriaSection2 .galeria01 img{
    height: 35vh;
    border-radius: 25px;
}

.actionBtn3{ 
    background-color: black;
    width: 9rem;
    height: 3rem;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 3rem;
    font-size: 1.5rem;    
    cursor: pointer;
    transition: scale 0.2 ease;
    display: flex;
    align-items: center; 
    justify-content: center;
    text-decoration: none;
    position: absolute;
    top: 5%;
    left: 5%;    
}
.actionBtn3:hover{
    scale: 1.05;
    color: #fff;
}
.actionBtn3:active{
    scale: 0.95;
}
.galeriaSection2{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.galeriaSection2 .galeria01{
    padding: 0 2% 0 2%;
}
.galeriaSection2 .galeria01 h2{
    font-size: 2.7rem;
}
.galeriaSection2 .galeria01 p{
    font-size: 1.5rem;
    color: rgb(117, 115, 115);
}
.locacionesGaleria{
    padding-top: 5%;
    height: 2vh;
    display: flex;    
}
.locacionesGaleria i{
    font-size: 1.8rem; 
    padding-right: 5%;   
}