*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    font-family: 'Nunito', sans-serif;
}

section{ 
    padding: 5% 5% 0 5%;
    margin: 5% 0 5% 0;  
    height: 100vh/* calc(100vh - 60px) */;
    width: 100%;
}

/* HEADER */

header{
    position: fixed;
    z-index: 1;    
    width: 100%;
    padding: 1.1% 5% 1.1% 5%;
    background-color: white;       
}

/* logo */
img{
    height: 5rem;
}


/* nav */
nav{   
    height: 60px;   
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo{
    display: flex;
    align-items: center;
}

nav h1{
    font-size: 1.2rem;
}

/* Lista de links */

li{
    list-style: none;
}
nav a{
    text-decoration: none;
    color: black;
    font-size: 1.18rem;
}
a:hover{
    font-weight: bold;
}
nav .links{
    display: flex;
    gap: 2rem;
}

/* botón GET A QUOTE */

.actionBtn{
    background-color: rgba(0, 0, 255, 0.829);
    width: 10rem;
    height: 3rem;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 3rem;
    font-size: 1.2rem;    
    cursor: pointer;
    transition: scale 0.2 ease;
    display: flex;
    align-items: center; 
    justify-content: center;
}
.actionBtn:hover{
    scale: 1.05;
    color: #fff;
}
.actionBtn:active{
    scale: 0.95;
}

/* Hamburguesa */
nav .toggleBtn{
    color: black;    
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

/* Dropdown MENU */
.dropdownMenu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.2);   
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden; 
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);   
} 
.dropdownMenu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdownMenu .actionBtn{
    width: 100%;
    display: flex;
    justify-content: center;
}
.dropdownMenu.open{
    height: 24rem;    
}
.dropdownMenu a{
    color: black;
    text-decoration: none;
}
.dropdownMenu .actionBtn{
    color: white;
}



/* RESPONSIVE DESIGN */
@media(max-width: 768px){
    nav .links,
    nav .actionBtn{
        display: none;
    }

    nav .toggleBtn{
        padding-right: 5%;
        display: block;
    }

    .dropdownMenu{
        display: block;
    } 

    /* SECTION 1 */

    .section1{
        padding: 9% 8% 0 8%;
    } 
    .section1 .contenidoSection1{
        width: 100%;
    } 
    .section1 .contenidoSection1 .tituloSection1 h1{
        font-size: 2.5rem;
    }
    .section1 .divBusqueda .searchBar .divBusquedaInput input{
        width: 10rem;
    }
    .section1 .divBusqueda .actionBtn2{
        width: 8rem;
        height: 2.5rem;
        font-size: 1.2rem;
    }     
    .section1 .imagenSection1 img{
        display: none;
    } 
    
    /* SECTION 2 */

    .section2 .contenidoSection2{
        display: none;
    }
    .section2 .contenidoResponsiveSection2{
        display: block;
    }
    .contenidoResponsiveSection2{
        padding: 4% 0 0 0;
        display: flex;
        flex-direction: column;
    }
    .contenidoResponsiveSection2 h1{            
        font-size: 2.5rem;                        
    }
    .contenidoResponsiveSection2 p{             
        padding: 2% 0 0 0;
        font-size: 1.5rem; 
        color: rgb(117, 115, 115); 
        line-height: 2;                      
    } 
    .section2 .galeriaSection2{
        display: none;
    }
    .section2 .galeria02{
        padding: 5% 0 0 0;
        display: block;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .section2 .galeria02 img{
        height: 40vh;
        border-radius: 25px;
    } 
    .galeria02{
        position: relative;
    }
    .galeria02 .boton3{        
        position: absolute;
        padding: 30% 48% 0 0;
    }
    .galeria02 h2{
        font-size: 2.7rem;
    }
    .galeria02 p{
        font-size: 1.5rem;
        color: rgb(117, 115, 115);
    }
    .barraNavegacionGaleria{
        padding: 8% 0 0 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 10rem;        
    }
    .barraNavegacionGaleria .puntito{
        height: 1rem;
        width: 1rem;
        background-color: black;
        border-radius: 50%;
    }
    .barraNavegacionGaleria i{
        font-size: 1.5rem;
    }
    .barraBoton4 div p{
        font-size: 1.2rem;
    }
    .barraBoton4 .divBoton4{
        width: 10rem;
        height: 3.5rem;
    }
    .divBoton4 a{
        font-size: 1rem;        
    }

    /* SECTION 3 */

    .section3 .section3Columna01 h1{              
        font-size: 2.7rem;
        line-height: 2;
    }
     .section3 .section3Columna01 p{    
        font-size: 1.2rem;
        color: rgb(117, 115, 115);
        line-height: 2;    
    }
    .section3 .section3Columna01 img{
        margin-top: 5%;    
        height: 25vh;
        border-radius: 40px;
    } 
    .section3 .section3Columna02 h1{              
        font-size: 2.7rem;
        line-height: 2;
    }
     .section3 .section3Columna02 p{    
        font-size: 1.2rem;
        color: rgb(117, 115, 115);
        line-height: 2;    
    }
    .section3 .section3Columna02 img{
        margin-top: 5%;    
        height: 25vh;
        border-radius: 40px;
    } 

    /* SECTION 4 */

    .section4 .contenidoSection4 h1{
        font-size: 1.9rem;
    }
    .section4 .contenidoSection4 p{
        font-size: 1.3rem;
    }
    .section4 .galeriaSection4 .galeria_1{
        width: 22%;
    }
    .section4 .galeriaSection4 .galeria_1 h2{
        font-size: 1.2rem;
    }
    .section4 .galeriaSection4 .galeria_1 p{
        font-size: 1.1rem;
    }    
    .section4 .barraBoton5 p{
        margin-right: 5%;
        font-size: 1.1rem;
    }
    .section4 .barraBoton5 .divBoton5{
        width: 10rem; 
    }
    .section4 .barraBoton5 a{              
        font-size: 0.8rem;
    }

    /* SECTION 5 */
    .section5 .contenidoSection5{          
        margin-bottom: 5%;
    }
    .section5 .contenidoSection5 h1{          
        font-size: 1.2rem;
    }
    .section5 .contenidoSection5 p{
        font-size: 1rem;
        color: rgb(117, 115, 115);
        line-height: 2;
    }     
    .section5 .galeriaSection5 i{
        font-size: 1.5rem;
    }
    .section5 .galeriaSection5 .galeria_1 .check{
        margin-right: 5%;
        margin-bottom: 30%;
        display: flex;
        position: relative;
        margin-top: 0;
    }
    .section5 .galeriaSection5 .galeria_1 h2{
        font-size: 1.1rem;
        line-height: 1.5;    
    }
    .section5 .galeriaSection5 .galeria_1 p{
        font-size: 1rem;    
        color: rgb(117, 115, 115);
        line-height: 1.5;
    }     
    .section5 .section5Columna02 img{ 
        height: 60vh;
        border-radius: 30px;
        margin-left: 0;
    }

    /* SECTION 6 */
    
    .section6 .contenidoSection6 h1{
        font-size: 1.5rem;
    }
    .section6 .contenidoSection6 p{
        font-size: 1.2rem;
        color: rgb(117, 115, 115);
        line-height: 2;
    }
    .section6 .galeriaSection6 .galeria06 h2{
        font-size: 0.8rem;
        line-height: 1.5;    
    }
    .section6 .galeriaSection6 .galeria06 p{
        font-size: 1rem;    
        color: rgb(117, 115, 115);
        line-height: 1.5;
    }
    .section6 .galeriaSection6 .galeria06 .locacionesGaleria{
        margin-top: 25%;
    }
    .section6 .galeriaSection6 .galeria06 .locacionesGaleria .dos02 h2{
        margin-top: 25%;
    }
    .section6 .galeriaSection6 img{
        height: 6vh;    
    }
    

    /* SECTION 7 */
    .section7 .contenidoSection7 h1{
        font-size: 2rem;
    }
    .section7 .contenidoSection7 p{
        font-size: 1.5rem;
    }    
    .section7 .contenidoSection7 .divBoton7{
        padding-left: 35%;
        display: flex;
        align-items: center;        
    }
    .section7 .contenidoSection7 .divBoton7 a{        
        font-size: 1.3rem;
    }
    .section7 .contenidoSection7 .imagenesSection7 img{
        height: 25vh;
    }
    .section7 .imagenSection7{
        display: none;
    }

    /* FOOTER */
    footer .footer01 h1{
        font-size: 1rem;
    }
    footer .footer01 p{
        font-size: 0.8rem;        
    }
    footer .footer01 a{
        font-size: 1rem;        
    }
    footer .footer01 .locationFooter i{    
        font-size: 1rem;    
    } 
    footer .footer01 .phone i{    
        font-size: 1rem;    
    } 
    footer .footer01 .envelope i{    
        font-size: 1rem;    
    }  
    footer .footer01 input{        
        height: 2.5rem;
        width: 100%;
        font-size: 1rem;
    }
    footer .footer01 .actionBtn8{        
        height: 2.5rem;        
        font-size: 1rem; 
    }
    footer .footer01 .logo img{
        height: 6vh;
    }


}

@media (max-width: 425px){
    .dropdownMenu{
        left: 2rem;
        width: unset;
    }

    /* SECTION 1 */

    .section1{        
        display: flex;
        flex-direction: column;        
        width: 100%;
    }
    .section1 .tituloSection1{
        margin-top: 20%;
        font-size: 1.5rem;
    } 
    .section1 .parrafoSection1{ 
        margin: 8% 0 8% 0;              
        font-size: 1.5rem;        
    } 
    .section1 .divBusqueda .searchBar .divBusquedaInput input{
        width: 10rem;
    }
    .section1 .divBusqueda .actionBtn2{
        width: 8rem;
        height: 2.5rem;
        font-size: 1.2rem;
    }    
    .section1 .cifrasSection1{
        margin: 8% 0 0 0;
    }
    .section1 .cifrasSection1 h1{
        font-size: 1.6rem;
    }

    /* SECTION 2 */

    .section2{        
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .section2 .contenidoSection2{
        display: none;
    }
    .section2 .contenidoResponsiveSection2{
        display: block;
    }
    .contenidoResponsiveSection2{
        display: flex;
        flex-direction: column;
    }
    .contenidoResponsiveSection2 h1{            
        font-size: 2rem;                        
    }
    .contenidoResponsiveSection2 p{             
        margin:  8% 0 0 0;
        font-size: 1.5rem;                        
    } 
    .galeria02 .boton3{        
        position: absolute;
        margin: 4% 45% 0 0;
    }
    .section2 .galeria02 img{ 
        height: 35vh;
    }
    .section2 .galeria02 h2{
        font-size: 2.3rem;
    }
    .section2 .galeria02 .barraNavegacionGaleria{
        margin: 9% 0 9% 0;                           
    }
    .barraBoton4 div{
        display: none;
    } 

    /* SECTION 3 */

    .section3{ 
        margin-top: 5%;      
        display: flex;        
        flex-direction: column;        
    }
    .section3 .section3Columna01{
        width: 80%;
    }     
    .section3 .section3Columna02{
        display: none;
    }
    .section3 .section3Columna01 img{ 
        height: 26vh;        
    }
    .section3 .section3Columna02 img{
        display: none;
    }

    /* SECTION 4 */
    
    .section4 .contenidoSection4{        
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .section4 .contenidoSection4 .h1{
        width: 100%;
    }
    .section4 .contenidoSection4 h1{
        font-size: 1.9rem;
    }
    .section4 .contenidoSection4 .p{
        width: 100%;
    }
    .section4 .contenidoSection4 p{
        font-size: 1.3rem;
    }

    /* Section 4 - Galeria */

    .section4 .galeriaSection4 .galeria_1{
        width: 23.5%;
    }
    .section4 .galeriaSection4 .galeria_1 h1{
        font-size: 1.5rem;
        height: 5vh;
        width: 5vh;
    }
    .section4 .galeriaSection4 .galeria_1 h2{
        font-size: 0.8rem;
    }
    .section4 .galeriaSection4 .galeria_1 p{
        border: 0.5px solid rgb(211, 204, 204);
        font-size: 1rem;
        border-radius: 10px;
    }    
    .section4 .barraBoton5 p{
        display: none;
    }
    .section4 .barraBoton5{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .section4 .barraBoton5 .divBoton5{
        width: 9rem; 
        height: 2.5rem;
    }
    .section4 .barraBoton5 a{              
        font-size: 0.9rem;
    } 
    
    /* SECTION 5 */ 
    .section5{
        display: flex;
        flex-direction: column;
    }
    .section5 .contenidoSection5{        
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }    
    .section5 .contenidoSection5 h1{
        font-size: 1.9rem;
    }
    .section5 .contenidoSection5 .p{
        width: 100%;
    }
    .section5 .contenidoSection5 p{
        font-size: 1.3rem;
    }
    .section5 .galeriaSection5{
        display: flex;
        align-items: center;
        width: 100%;
    } 
    .section5 .section5Columna02{
        display: none;
    }

    /* SECTION 6 */
    .section6 .contenidoSection6{     
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between; 
           
    }
    .section6 .masterGaleria06{
        display: none;
    }
    .section6 .galeriaResponsive06{
        display: block;
    }   
    .section6 .galeriaResponsive06 .galeria06{
        padding-top: 10%;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    .section6 .galeriaResponsive06 p{
        font-size: 1.5rem;    
        color: rgb(117, 115, 115);
        line-height: 1.2;
    }
    .section6 .galeriaResponsive06 .locacionesGaleria{
        width: 100%;        
    }
    .section6 .galeriaResponsive06 .uno01 img{
        height: 7vh;
    }
    .section6 .galeriaResponsive06 .dos02 h2{
        font-size: 1.1rem;
    }    
    .section6 .galeriaResponsive06 .barraNavegacionGaleria02{
        padding: 22% 0 0 0;  
        display: flex;
        align-items: center; 
        justify-content: space-evenly;       
        width: 100%;                
    }
    .section6 .galeriaResponsive06 .barraNavegacionGaleria02 .puntito{ 
        height: 1rem;
        width: 1rem;
        background-color: black;
        border-radius: 50%;
    }
    .section6 .galeriaResponsive06 .barraNavegacionGaleria02 i{
        font-size: 1.5rem;
    }   
    
    /* SECTION 7 */

    .section7 .contenidoSection7 h1{
        font-size: 2.5rem;
    }
    .contenidoSection7 p{
        font-size: 1.2rem;
        width: 100%;
        color: rgb(129, 127, 127);
        line-height: 2;
    }
    .section7 .contenidoSection7 .divBoton7{
        padding-left: 20%;
        display: flex;
        align-items: center;
    }
    .section7 .contenidoSection7 .imagenesSection7{
        padding: 4% 0 0 0;
        display: flex;        
        align-items: center;
        justify-content: space-between;
    }
    .section7 .contenidoSection7 .imagenesSection7 img{
        height: 14vh;        
    }

    /* FOOTER */
    footer .footer01 .footNews{
        display: none;
    }
    footer .footer01 .links{
        display: none;
    }
    footer .footer01{
        padding-left: 5%;        
        ;
    }
    footer .footer01 h1{
        font-size: 0.5rem;
    }

}



/* SECTION 1 */
.section1{    
    margin: 0 auto;
    display: flex; 
    align-items: center;    
    justify-content: space-between; 
     
}
.contenidoSection1{ 
    width: 49%;       
}

/* Titulo - Section 1 */
.tituloSection1{
    font-size: 3.7rem;
}
.parrafoSection1{
    font-size: 1.5rem;
    width: 100%;
    color: rgb(129, 127, 127);
    line-height: 2;
}

/* Buscador */
.divBusqueda{
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10% 0 8% 0;
}
.searchBar{ 
    width: 100%;
    display: flex;
    justify-content: left;    
    cursor: pointer;    
    padding: 1% 5% 0 0;
    background: #fff;    
}
.lupita{
    padding: 0 3% 0 10%;    
    transition: scale 0.2 ease;
    display: flex;
    align-items: center; 
    justify-content: center;
    text-decoration: none; 
    font-size: 1.2rem;   
}
.lupita:hover{
    scale: 1.05;
    color: #fff;
}
.lupita:active{
    scale: 0.95;
}
.searchBar input{
    width: 35rem;
    outline: none;
    font-weight: 500;
    background: transparent;    
}
.searchBar .fas{
    color: rgb(117, 115, 115);     
} 
.inputSearch{
    font-size: 1.1rem;
    border: 0; 
}

/* Action Button 2 */
.actionBtn2{
    background-color: rgb(0, 0, 255);
    width: 14rem;
    height: 4rem;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none; 
    border-radius: 3rem;
    font-size: 1.5rem;    
    cursor: pointer;
    transition: scale 0.2 ease;
    display: flex;
    align-items: center; 
    justify-content: center;
    text-decoration: none;
}
.actionBtn2:hover{
    scale: 1.05;
    color: #fff;
}
.actionBtn2:active{
    scale: 0.95;
}

/* Cifras - Section 1 */
.cifrasSection1{    
    display: flex;
    align-items: center;    
    justify-content: space-between;
    padding: 5% 0 0 0; 
}
.cifrasSection1 h1{
    font-size: 3rem;
}
.cifrasSection1 p{
    font-size: 1.5rem;
    color: rgb(117, 115, 115);
}

/* Imagen - Section 1 */

.imagenSection1 img{
    height: 85vh;
    border-radius: 30px;    
}

/* SECTION 2 */

/* Contenido - Section 2 */
.contenidoSection2{  
    margin: 0 auto;  
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contenidoSection2 .h1{
    padding: 0 5% 0 0;
    width: 50%;
}
.contenidoSection2 h1{          
    font-size: 4rem;
}
.contenidoSection2 p{
    font-size: 1.5rem;
    color: rgb(117, 115, 115);
    line-height: 2;
}
.contenidoSection2 .p{
    padding: 0 0 0 5%;
    width: 50%;
}
.contenidoResponsiveSection2{
    display: none;
}

/* Galería - Section 2 */
.galeriaSection2{
    padding: 5% 0 0 0;
}

.galeriaSection2 .galeria01{
    display: flex;
    align-items: flex-start;
    flex-direction: column;    
}
.galeria01{
    position: relative;
    width: 24%;
}
.galeriaSection2 .galeria01 img{
    height: 30vh;
    border-radius: 25px;
}

.actionBtn3{     
    background-color: black;
    width: 9rem;
    height: 3rem;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 3rem;
    font-size: 1.5rem;    
    cursor: pointer;
    transition: scale 0.2 ease;
    display: flex;
    align-items: center; 
    justify-content: center;
    text-decoration: none;
    position: absolute;
    top: 5%;
    left: 5%;      
}
.actionBtn3:hover{
    scale: 1.05;
    color: #fff;
}
.actionBtn3:active{
    scale: 0.95;
}
.galeriaSection2{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.galeriaSection2 .galeria01 h2{
    font-size: 2.5rem;
}
.galeriaSection2 .galeria01 p{
    font-size: 1.5rem;
    color: rgb(117, 115, 115);
}
.locacionesGaleria{
    padding-top: 5%;
    height: 2vh;
    display: flex;    
}
.locacionesGaleria i{
    font-size: 1.8rem; 
    padding-right: 5%;  
}
.galeria02{
    display: none;
}

/* Boton See More - Sección 2 */

.section2 .barraBoton4{
    padding: 6% 0 8% 0; 
    display: flex;    
    justify-content: space-between;
}

.divBoton4{    
    background-color: transparent;
    width: 15rem;
    height: 4.5rem;
    color: #fff;
    padding: 0.5rem 1rem;    
    border: 1.5px solid black;
    border-radius: 3rem;
    font-size: 1.7rem;       
    cursor: pointer;
    transition: scale 0.2 ease;
    display: flex;
    align-items: center; 
    justify-content: center;
    
}
.divBoton4 a{
    text-decoration: none;
    color: black;
}
.divBoton4:hover{
    scale: 1.05;
    color: #fff;
}
.divBoton4:active{
    scale: 0.95;
}
.barraBoton4 p{
    padding: 2% 0 10% 0;
    font-size: 1.5rem;
    color: rgb(117, 115, 115);
}


/* SECTION 3 */

.section3{  
    
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section3Columna01{
    display: flex;
    flex-direction: column;    
    width: 47%;
}
.section3Columna02{
    display: flex;
    flex-direction: column;    
    width: 47%;
} 
.section3Columna01 p{
    padding-bottom: 4%;
}
.section3 h1{              
    font-size: 3.8rem;
    line-height: 2;
}
 .section3 p{    
    font-size: 1.4rem;
    color: rgb(117, 115, 115);
    line-height: 2;    
}
.section3 img{
    margin-top: 5%;    
    height: 45vh;
    border-radius: 40px;
}  


/* SECTION 4 */

/* Contenido - Section 4 */
.contenidoSection4{    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contenidoSection4 .h1{
    padding: 0 5% 0 0;
    width: 50%;
}
.contenidoSection4 h1{          
    font-size: 3.5rem;
}
.contenidoSection4 p{
    font-size: 1.5rem;
    color: rgb(117, 115, 115);
    line-height: 2;
}
.contenidoSection4 .p{    
    width: 50%;
}
.contenidoResponsiveSection4{
    display: none;
}

/* Galería - Section 4 */
.galeriaSection4{
    padding: 8% 0 0 0;    
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.galeriaSection4 h1{
    font-size: 2.5rem;    
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
    height: 9vh;
    width: 9vh;
    border-radius: 50%;    
}
.galeriaSection4 .galeria_1{
    width: 23%;
    display: flex;    
    flex-direction: column;    
}
.galeriaSection4 .galeria_1 h2{
    font-size: 2.7rem;
    line-height: 2;    
}
.galeriaSection4 .galeria_1 p{
    font-size: 1.5rem;    
    color: rgb(117, 115, 115);
    line-height: 2;
}

/* Boton See More - Sección 4 */

.section4 .barraBoton5{
    padding: 8% 0 8% 0; 
    display: flex;    
    justify-content: space-between;
}
.divBoton5{    
    background-color: transparent;
    width: 15rem;
    height: 4.5rem;
    color: #fff;
    padding: 0.5rem 1rem;    
    border: 1.5px solid black;
    border-radius: 3rem;
    font-size: 1.7rem;       
    cursor: pointer;
    transition: scale 0.2 ease;
    display: flex;
    align-items: center; 
    justify-content: center;    
}
.divBoton5 a{
    text-decoration: none;
    color: black;
}
.divBoton5:hover{
    scale: 1.05;
    color: #fff;
}
.divBoton5:active{
    scale: 0.95;
}
.barraBoton5 p{
    padding: 2% 0 10% 0;
    font-size: 1.5rem;
    color: rgb(117, 115, 115);
}


/* SECTION 5 */
.section5{
    margin-top: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section5 .contenidoSection5{        
    display: flex;
    align-items: center;
    flex-direction: column;    
    width: 100%;
}
.section5 .section5Columna01{
    width: 48%;
}
.contenidoSection5 h1{          
    font-size: 3.5rem;
}
.contenidoSection5 p{
    font-size: 1.5rem;
    color: rgb(117, 115, 115);
    line-height: 2;
}
.section5 .galeriaSection5{
    display: flex;
    flex-direction: column;
}
.galeriaSection5 .galeria_1{    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.galeriaSection5 .galeria_1 .check{
    margin-right: 5%;
    margin-bottom: 10%;
    display: flex;
    position: relative;
    margin-top: 0;
}
.galeriaSection5 i{
    font-size: 4rem;
}
.galeriaSection5 .galeria_1 h2{
    font-size: 2.7rem;
    line-height: 2;    
}
.galeriaSection5 .galeria_1 p{
    font-size: 1.5rem;    
    color: rgb(117, 115, 115);
    line-height: 2;
}

.section5Columna02{
    width: 48%;
}
.section5 img{    
    height: 85vh;
    border-radius: 30px;
    margin-left: 15%;
}


/* SECTION 6 */

.section6 .contenidoSection6{     
    display: flex;
    align-items: center;
    justify-content: space-between;    
}
.contenidoSection6 h1{
    font-size: 3.5rem;
}
.contenidoSection6 p{
    font-size: 1.5rem;
    color: rgb(117, 115, 115);
    line-height: 2;
}

/* section 6 - Galeria */
.section6 .galeriaSection6{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section6 .galeria06{
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    width: 24%;
}
.galeriaSection6 .galeria06 p{
    font-size: 1.5rem;    
    color: rgb(117, 115, 115);
    line-height: 2;
}
.galeriaSection6 .locacionesGaleria{
    padding-top: 20%;
    display: flex;
    align-items: center;    
}
.locacionesGaleria .uno01{
    padding-right: 5%;
}
.galeriaSection6 img{
    height: 8vh;    
}
.galeriaResponsive06{
    display: none;
}
.section6 .barraNavegacionGaleria02{
    display: none;
}


/* SECTION 7 */
.section7{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section7 .imagenSection7 img{
    height: 75vh;
    border-radius: 30px;
}
.section7 .contenidoSection7{
    margin-left: 4%;
}
.contenidoSection7 h1{
    font-size: 5.5rem;
}
.contenidoSection7 p{
    font-size: 1.5rem;
    width: 100%;
    color: rgb(129, 127, 127);
    line-height: 2;
}
.contenidoSection7 .divBoton7{
    padding: 4% 0 4% 0;
}
.actionBtn7{
    background-color: rgb(0, 0, 255);
    width: 14rem;
    height: 4rem;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 3rem;
    font-size: 1.5rem;    
    cursor: pointer;
    transition: scale 0.2 ease;
    display: flex;
    align-items: center; 
    justify-content: center;
    text-decoration: none;
}
.actionBtn7:hover{
    scale: 1.05;
    color: #fff;
}
.actionBtn7:active{
    scale: 0.95;
}
.contenidoSection7 .imagenesSection7{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.imagenesSection7 img{
    height: 28vh;
    border-radius: 30px;
}
.imagenesSection7 div{
    padding: 0 0 0 0;
}

 /* FOOTER */ 

 footer{    
    background-color: rgb(250, 248, 248);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 400px;
    width: 100%;
 }
 footer .logo{
    display: flex;
    align-items: center;
}
footer .footer01{
    display: flex;    
    flex-direction: column;
    width: 24%;
    margin: 5% 3% 5% 3%;
}
footer .footer01 h1{
    line-height: 2;
}
.footer01 p{
    font-size: 1.5rem;
    width: 100%;
    color: rgb(129, 127, 127);
    line-height: 2;
}

.footer01 .links{
    display: flex;
    flex-direction: column;
}
.footer01 a{
    font-size: 1.7rem;
    color: black;
    line-height: 2;
    text-decoration: none;
    font-weight: bold;
}
.footer01 .locationFooter{    
    display: flex;
    align-items:flex-start;
    justify-content: space-between;    
}
.footer01 .locationFooter div{    
    padding: 1% 2% 1% 2%;      
}
.footer01 .locationFooter i{    
    font-size: 2rem;    
}
.footer01 .phone{    
    display: flex;
    align-items:flex-start;
    justify-content: space-between;    
}
.footer01 .phone div{    
    padding: 1% 2% 1% 2%;      
}
.footer01 .phone i{    
    font-size: 2rem;    
}
.footer01 .envelope{    
    display: flex;
    align-items:flex-start;
    justify-content: space-between;    
}
.footer01 .envelope div{    
    padding: 1% 2% 1% 2%;      
}
.footer01 .envelope i{    
    font-size: 2rem;    
}

.contenidoSection7 .divBoton7{
    padding: 4% 0 4% 0;
}
.footer01 input{
    padding: 5% 0 5% 0;
    border-radius: 30px;
    height: 4rem;
    width: 100%;
    font-size: 1.5rem;      
    color: rgb(185, 185, 185); 
    border: 1px solid grey; 
}


/* Footer - Botón Submit */
.footer01 .actionBtn8{
    background-color: rgb(0, 0, 255);
    width: 100%;
    height: 4rem;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 3rem;
    font-size: 1.5rem;    
    cursor: pointer;
    transition: scale 0.2 ease;
    display: flex;
    align-items: center; 
    justify-content: center;
    text-decoration: none;
}
.footer01 .actionBtn8:hover{
    scale: 1.05;
    color: #fff;
}
.footer01 .actionBtn8:active{
    scale: 0.95;
}
.footer01 .newsletter{
    padding: 5% 0 5% 0;
}
.footer01 .newsletter .input{
    padding: 5% 0 5% 0;
}
